<a href="addtask">Add task</a><br>
<a href="viewtask">View task</a><br>
<a href="index">View user</a><br>

<form method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" name="email"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="save" name="submit"></td>
        </tr>
    </table>
</form>

<table border="1"> 
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Delete</th>
    <th>Update</th>

    <% result.forEach(function(demo) {  %>

    <tr>
        <td><%= demo.id %></td>
        <td><%= demo.name %></td>
        <td><%= demo.email %></td>
        <td><%= demo.password%></td>
        <td><a href="/delete/<%= demo.id%>">Delete</a></td>
        <td><a href="/update/<%= demo.id%>">Update</a></td>
    </tr>

    <% }); %>
</table>